<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>Red Zones!</ion-title> -->
    <ion-select slot="start" [value]="this.category" (ionChange)="categoryChange($event)" okText="Okay"
      cancelText="Dismiss">
      <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}</ion-select-option>
    </ion-select>
    <!-- <ion-icon slot="end" name="refresh" (click)="loadMap()"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showMap" style="height: 80vh;" leaflet [(leafletCenter)]="center"
    [leafletOptions]="options" [leafletLayersControl]="layersControl">
    <div *ngFor="let l of layers" [leafletLayer]="l"></div>
  </div>
</ion-content>

<ion-footer>
  
</ion-footer>