<div class="container">
    <div class="intro-header">
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <h1>Covid 19</h1>
                    <h5>Mythbusters</h5>
                    <p>What is true and what is myth</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        
    </div>

    <div class="intro-content">
        <ion-list>
            <ion-item lines="none">
                <ion-card>
                    <img src="./../../../assets/img/who-tips/mythbusters.png">
                    <p>Corona spreads through currency notes ?</p>
                </ion-card>
            </ion-item>
            <ion-item lines="none">
                <ion-card>
                    <img src="./../../../assets/img/who-tips/eng-mythbusting-ncov-(33).png">
                    <p>Directions for washing</p>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
</div>